.card-container {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  margin: 10px;
  padding: 10px 0;
  width: 100%;
  min-width: 750px;
  text-align: center;
}

.generate-card-btn {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.ReactCollapse--collapse {
  min-height: 600px;
}